<a href="https://colab.research.google.com/github/AbhishekDaniel1411/IBM_Data_Science_Professional_Certificate/blob/main/Capstone_project/falcon9_landing_prediction/EDA_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
#Please uncomment and execute the code below if needed.

#!pip install ipython-sql
#!pip install sqlalchemy

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

conn = sqlite3.connect('data1.sql')
cur = conn.cursor()

In [4]:
%sql sqlite:///data1.sql

In [5]:
import pandas as pd

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", conn, if_exists='replace', index=False, method="multi")

101

In [6]:
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,2020-11-05,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,2020-11-16,0:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,2020-11-21,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,2020-11-25,2:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,2020-12-06,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///data1.sql
Done.

[]

Display the names of the unique launch sites in the space mission

In [8]:
%%sql

SELECT
  DISTINCT(Launch_Site)
FROM
  SPACEXTABLE;

 * sqlite:///data1.sql
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

Display 5 records where launch sites begin with the string 'CCA'

In [9]:
%%sql

SELECT
  *
FROM
  SPACEXTABLE
WHERE
  Launch_Site LIKE 'CCA%' LIMIT 5;

 * sqlite:///data1.sql
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

Display the total payload mass carried by boosters launched by NASA (CRS)

In [10]:
%%sql

SELECT
  SUM(PAYLOAD_MASS__KG_) AS 'Total payload mass launched by NASA (CRS)'
FROM
  SPACEXTABLE
WHERE
  Customer = 'NASA (CRS)'

 * sqlite:///data1.sql
Done.

[(45596,)]

Display average payload mass carried by booster version F9 v1.1

In [11]:
%%sql

SELECT
  AVG(PAYLOAD_MASS__KG_) AS 'Avg payload mass carried by F9 v1.1 boosters'
FROM
  SPACEXTABLE
WHERE
  Booster_Version LIKE 'F9 v1.1%'

 * sqlite:///data1.sql
Done.

[(2534.6666666666665,)]

List the date when the first succesful landing outcome in ground pad was acheived

In [12]:
%%sql

SELECT DISTINCT(Landing_Outcome) FROM SPACEXTABLE;

 * sqlite:///data1.sql
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

In [13]:
%%sql

SELECT
  MIN(Date) AS 'Date of First Success'
FROM
  SPACEXTABLE
WHERE
  Landing_Outcome = 'Success (ground pad)';

 * sqlite:///data1.sql
Done.

[('2015-12-22',)]

List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [14]:
%%sql

SELECT
  DISTINCT(Booster_Version) AS 'Booster version'
FROM
  SPACEXTABLE
WHERE
  Landing_Outcome = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000;

 * sqlite:///data1.sql
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

List the total number of successful and failure mission outcomes

In [15]:
%%sql

SELECT
  Landing_Outcome,
  COUNT(*) AS 'MISSIONS'
FROM
  SPACEXTABLE
GROUP BY
  Landing_Outcome;

 * sqlite:///data1.sql
Done.

[('Controlled (ocean)', 5),
 ('Failure', 3),
 ('Failure (drone ship)', 5),
 ('Failure (parachute)', 2),
 ('No attempt', 21),
 ('No attempt ', 1),
 ('Precluded (drone ship)', 1),
 ('Success', 38),
 ('Success (drone ship)', 14),
 ('Success (ground pad)', 9),
 ('Uncontrolled (ocean)', 2)]

List the names of the booster_versions which have carried the maximum payload mass.

In [16]:
%sql SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE

 * sqlite:///data1.sql
Done.

[(15600,)]

In [17]:
%%sql

SELECT
  Booster_Version
FROM
  SPACEXTABLE
WHERE
  PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE)

 * sqlite:///data1.sql
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

List the records which will display the month names, failure landing_outcomes in drone ship, booster versions, launch_site for the months in year 2015.

In [18]:
%%sql

SELECT
  substr(Date, 6,2) AS Month,
  Booster_Version,
  Launch_Site
FROM
  SPACEXTABLE
WHERE
 Landing_Outcome = 'Failure (drone ship)' AND substr(Date,0,5)='2015'

 * sqlite:///data1.sql
Done.

[('01', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'F9 v1.1 B1015', 'CCAFS LC-40')]

Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [19]:
%%sql

SELECT
  Landing_Outcome,
  COUNT(Landing_Outcome) AS 'Count'
FROM
  SPACEXTABLE
WHERE
  Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY
  Landing_Outcome
ORDER BY
  Count DESC;

 * sqlite:///data1.sql
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

In [20]:
%sql select count("Mission_Outcome") as MISSION_OUTCOME_COUNT,Launch_Site  from SPACEXTBL group by "Launch_Site";

 * sqlite:///data1.sql
Done.

[(26, 'CCAFS LC-40'),
 (34, 'CCAFS SLC-40'),
 (25, 'KSC LC-39A'),
 (16, 'VAFB SLC-4E')]